body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  display: flex;
  flex-direction: column;
  
}

.header{
    border: 1px solid #000;
    height: 2rem;
}

.form {
    display: flex;
    
    flex-direction: column;
}

.form-input{
    margin-top: 1rem;
    display: flex;
    justify-content: space-around;
}

.form-button {
    margin-top: 1rem;
 display: flex;
 justify-content: center;
}

.btn-submit{

}
